<div class="mt-4">
  <h2>Listes des Livres</h2>
  <form class="form-inline my-2 my-lg-0 d-flex">
    <input class="form-control mr-sm-2" type="search" [(ngModel)]="searchTerm" name="searchTerm" aria-label="Search"  (keyup)="search()">
    
  </form>
  {{searchTerm}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Auteur</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livre of searchResults">
        <td>{{ livre.isbn }}</td>
        <td>{{ livre.title }}</td>
        <td>{{ livre.auteur }}</td>
        <td>
          <button class="btn btn-primary" (click)="editLivre(livre)">Edit</button>
        </td>
        <td>
          <button class="btn btn-primary" (click)="deleteLivre(livre)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
